body {
  font-family: "MuseoSans-500", arial, sans-serif;
  background: url('../images/floor.png') no-repeat center center #5cbecf;
}

*:focus { outline: 0; }

canvas {
  display: none;
  position: absolute;
}

.homepage {
  background-color: #e4dcc6;

  h1 {
    text-align: center;
    padding: 60px 0;
  }

  form {
    width: 400px;
    margin: auto;

    &.register { padding-bottom: 60px; }

    .register-title {
      font-family: "bebas_neueregular", sans-serif;
      font-size: 36px;
      margin: 40px 0;
      color: #db7743;
      text-align: center;
    }

    label {
      display: block;
      color: #beb8a7;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      height: 35px;
      margin-bottom: 20px;
      border: 1px solid #beb8a7;
      padding-left: 10px;
      @include border-radius(2px);
      @include box-sizing(border-box);

      &:focus { border-color: darken(#beb8a7, 15%); }
    }

    input[type="submit"] {
      background-color: #6aa963;
      width: 100%;
      cursor: pointer;
      height: 40px;
      font-family: "MuseoSans-500", sans-serif;
      font-size: 16px;
      line-height: 18px;
      color: #f9f6e9;
      border: 1px solid #619a5d;
      @include border-radius(2px);

      &:hover { background-color: lighten(#6aa963, 5%); }
      &:active { position: relative; top: 2px; }
    }
  }
}

// Sidebar informations
aside {
  position: absolute;
  top: 0;
  right: -242px;
  bottom: 0;
  width: 260px;
  background-color: #e4dcc6;
  @include transition(all .4s ease);

  &:hover { right: 0; }

  &:before {
    position: absolute;
    content: url(../images/sidebar-before.png);
    margin-left: -11px;
  }

  .nom {
    background: url(../images/bg-nom.png) no-repeat;
    width: 226px;
    height: 79px;
    margin: auto;
    text-align: center;
    font-family: "bebas_neueregular", sans-serif;
    font-size: 36px;
    line-height: 70px;
    color: #db7743;
  }

  .score {
    text-align: center;
    margin: 40px 0;

    .info-titre {
      text-transform: uppercase;
      color: #beb8a7;
    }

    .info-score {
      color: #989486;
      font-size: 20px;
    }

    .progress {
      width: 86%;
      height: 6px;
      margin: 5px auto 0;
      background-color: #f9f6e9;
      @include border-radius(40px);
      border: 2px solid #f9f6e9;

      .inprogress {
        background-color: #db7743;
        width: 60px;
        height: 100%;
        display: block;
        @include border-radius(40px);
      }
    }

    .level {
      margin-top: 5px;
      color: #beb8a7;
    }
  }

  .buttons {
    margin-top: 50px;

    h3 {
      color: #beb8a7;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }

    .save-game {
      background: url(../images/boutons.png) no-repeat;
      margin: 0 auto 25px;
      display: block;
      width: 135px;
      height: 125px;
      cursor: pointer;

      &:hover { background-position: 0 -125px; }
    }

    .new-game {
      background: url(../images/boutons.png) no-repeat;
      background-position: -135px 0;
      margin: 0 auto 25px;
      display: block;
      width: 135px;
      height: 125px;
      cursor: pointer;

      &:hover { background-position: -135px -125px; }
    }

    .quit-game {
      background: url(../images/boutons.png) no-repeat;
      margin: auto;
      background-position: -270px 0;
      display: block;
      width: 135px;
      height: 125px;
      cursor: pointer;

      &:hover { background-position: -270px -125px; }
    }
  }
}